@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 224 7% 18%;

    --card: 0 0% 100%;
    --card-foreground: 224 7% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 7% 18%;

    --primary: 98 22% 76%;
    --primary-foreground: 98 22% 20%;

    --secondary: 60 56% 91%;
    --secondary-foreground: 60 30% 25%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 60 56% 91%;
    --accent-foreground: 60 30% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 98 22% 66%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 7% 12%;
    --foreground: 0 0% 93%;

    --card: 224 7% 15%;
    --card-foreground: 0 0% 93%;

    --popover: 224 7% 12%;
    --popover-foreground: 0 0% 93%;

    --primary: 98 22% 76%;
    --primary-foreground: 98 22% 20%;
    
    --secondary: 60 56% 91%;
    --secondary-foreground: 60 30% 25%;

    --muted: 224 7% 20%;
    --muted-foreground: 0 0% 63.9%;
    
    --accent: 60 56% 20%;
    --accent-foreground: 60 56% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 224 7% 25%;
    --input: 224 7% 25%;
    --ring: 98 22% 86%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fade-in-up {
    animation: fade-in-up 0.8s ease-in-out forwards;
    opacity: 0;
  }
}
